body{
    text-align: center;
    color: #444;
}

header{
    margin: 0;
    padding: 0;
    height: 150px;
    background-color: #191;
}

header img{
    display: block;
    margin: 0 auto 0 auto;
    padding: 36px 0 0 0;
    height: 104px;
}

nav{
    height: 30px;
    background-color: #191;
    font-size: 16px;
    padding: 20px 0 0 0;
}

nav a{
    margin: 0 40px 0 40px;
    padding: 0 0 0 0;
    color: #FFF;
    font-family: Arial, sans-serif;
}

article{
    margin: 0px;
    padding: 0px;
}

p{
    margin: 0;
    padding: 0.5em;
}

h1{
    margin: 0;
    padding: 0;
    margin: 5px 0 15px 0;
}

.container{
    width: 900px;
    margin: 0 auto 0 auto;
    padding: 20px 0 50px 0;
}

#about{
    margin: 0;
    padding: 0 100px 10px 100px;
    background-color: #FFF;
}

#about h1,
#works h1,
#links h1{
    font-size: 80px;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
}

#about #top{
    width: 800px;
    margin: 20px auto 0 auto;
}

#about #top span{
    padding: 0 0 0 0.2em;
    color: #999;
}

.container-top{
    margin:0;
    padding:0;
    float: left;
    width: 400px;
    height: 380px;
    background-color: #EEE;
}

.clear{
    clear: both;
}

#about #reading{
    margin: 125px 0 0 0;
    font-size: 30px;
}

#about img{
    width: 400px;
    border: solid 0px #999;
    margin: 0px;
    padding: 0px;
    /*box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.4);*/
}

#about video{
    width: 400px;
    height: 380px;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.video-filter{
    position: absolute;
    width: 400px;
    height: 380px;
    border: 0px;
    margin: 0px;
    padding: 0px;
    background: #333;
    opacity: 0.5;
}


#about #intro{
    padding: 35px 15px 15px 15px;
    clear: both;
    font-size: 18px;
}

#works{
    margin: 0;
    padding: 0 10px 0px 10px;
    background-color: #999;
}

#works .work{
    width: 256px;
    padding: 40px 20px 40px 20px;
    float: left;
}

#works .work h1{
    font-size: 18px;
    text-transform: none;
    margin: 0;
}

#works .work h2{
    font-size: 14px;
    font-weight: normal;
}

#works .bottom{
    clear: both;
    text-align: right;
}

h2{
    margin: 0;
    padding: 0;
}

#links{
    margin: 0;
    padding: 0 10px 10px 10px;
    background-color: #191;
    clear:both;
}


#links a{
    margin: 0 40px 0 40px;
    padding: 0 0 0 0;
    color: #333;
    font-family: Arial, sans-serif;
}
